.banner {
    position: relative;
    display: block;
    /* background: url('https://picsum.photos/id/695/1920/1080') center / 100% 100%; */
    background: linear-gradient(
            45deg,
            rgba(255, 255, 255, 1) 27%,
            rgba(255, 255, 255, 1) 34%,
            rgba(255, 255, 255, 1) 37%,
            rgba(255, 255, 255, 0) 100%
        ),
        url('/assets/banner4.jpg') center / 100% 100%;
    background-attachment: fixed;
    min-height: 35rem;
    max-height: 42rem;
}

.aboutme-wrap {
    width: 80%;
    margin: auto;
    margin-top: 20%;
    color: #666;
}

.aboutme-wrap label + label {
    margin-top: 1rem;
}

.aboutme-wrap .my-name {
    display: block;
    font-size: 2.5rem;
    font-weight: 1000;
}

.aboutme-wrap .my-profession {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.container {
    /* background-color: rgba(238, 238, 255, 0.3); */
    background-color: fff;
    padding: 3rem 0;
}

.container .card {
    position: relative;
    height: 25rem;
    margin-bottom: 0.9rem;
    border: none;
    box-shadow: 0 0 0.5rem 0.1rem #ccc;
}

.container .wrap {
    background-color: #fff;
}

.container .wrap .card + .card {
    margin-top: 3rem;
}

.card .pic {
    width: 100%;
    height: 100%;
}

.card .inner-txt {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5%;
    margin: auto;
    color: #fff;
}

.inner-txt .title,
.inner-txt .text {
    text-align: center;
}

.inner-txt .title {
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 3%;
}

.inner-txt .title {
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .aboutme-wrap {
        margin-top: 10%;
    }

    .container {
        padding-bottom: 3rem;
    }

    .container .wrap {
        display: flex;
        padding: 0 1rem;
    }

    .container .wrap .card + .card {
        margin-top: 0em;
    }

    .container .card:nth-child(3) {
        height: 25rem;
    }
}

@media screen and (min-width: 1366px) {
    .container {
        display: flex;
        justify-content: center;
    }

    .container .card {
        min-height: 25rem;
        height: 25rem;
    }
}
