header {
    width: 100%;
    height: 100px;
    position: relative;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

#menu-control {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.logo {
    width: 200px;
    height: 80px;
    line-height: 100px;
    margin-left: 10px;
}

.logo img {
    vertical-align: middle;
}

.menu-btn {
    width: 40px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 25px;
}

.menu-btn span {
    opacity: 0;
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.menu-btn::before,
.menu-btn::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
}

.menu-btn::before {
    top: 10.5px;
    box-shadow: 0 14.5px 0 #000;
    transition: 0.2s ease-in;
}

.menu-btn::after {
    bottom: 10.5px;
    transition: 0.2s ease-in;
}

nav {
    position: absolute;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #ccc;
    max-height: 0px;
    transition: 0.3s ease-in;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
    z-index: 99;
    overflow: hidden;
}

nav a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: rgb(153, 153, 42);
    font-weight: 700;
}

nav a ~ a {
    margin-top: 20px;
}

/* 漢堡選單點選後 */

#menu-control:checked ~ header .menu-btn::before {
    transform: rotate(45deg);
    transition: 0.2s ease-in;
    top: 24px;
    box-shadow: none;
}

#menu-control:checked ~ header .menu-btn::after {
    transform: rotate(-45deg);
    transition: 0.2s ease-in;
    bottom: 24px;
}

#menu-control:checked ~ header nav {
    padding: 20px 0;
    max-height: 350px;
    transition: 0.3s ease-in;
    overflow: hidden;
}

/* 漢堡選單點選後 End */

.banner {
    width: 100%;
    max-width: 767px;
    height: auto;
    min-height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    overflow: hidden;
}

.banner img {
    display: block;
    z-index: -1;
    opacity: 1;
    width: 100%;
    height: 150px;
    -webkit-animation: silder 10s infinite;
    animation: silder 10s infinite;
}

.banner:hover img {
    animation: none;
}

/*動畫關鍵影格*/
@-webkit-keyframes silder {
    0%,
    20% {
        transform: translateX(0px);
    }
    25%,
    50% {
        transform: translateX(-100%);
    }
    55%,
    80% {
        transform: translateX(-200%);
    }
    85%,
    100% {
        transform: translateX(0px);
    }
}
@keyframes silder {
    0%,
    20% {
        transform: translateX(0px);
    }
    25%,
    50% {
        transform: translateX(-100%);
    }
    55%,
    80% {
        transform: translateX(-200%);
    }
    85%,
    100% {
        transform: translateX(0px);
    }
}

.banner input[type='radio'] {
    display: none;
}

.img-list {
    display: flex;
    width: 60px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.img-list label {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #fff;
}

.banner input[type='radio']:nth-of-type(1):checked ~ .img-list label:nth-of-type(1) {
    background-color: #333;
}
.banner input[type='radio']:nth-of-type(2):checked ~ .img-list label:nth-of-type(2) {
    background-color: #333;
}
.banner input[type='radio']:nth-of-type(3):checked ~ .img-list label:nth-of-type(3) {
    background-color: #333;
}

.banner input[type='radio']:nth-of-type(1):checked ~ img:nth-of-type(1),
.banner input[type='radio']:nth-of-type(1):checked ~ img:nth-of-type(2),
.banner input[type='radio']:nth-of-type(1):checked ~ img:nth-of-type(3) {
    transform: translateX(0%);
    transition: 0.5s ease;
}

.banner input[type='radio']:nth-of-type(2):checked ~ img:nth-of-type(2),
.banner input[type='radio']:nth-of-type(2):checked ~ img:nth-of-type(1) {
    transform: translateX(-100%);
    transition: 0.5s ease;
}

.banner input[type='radio']:nth-of-type(3):checked ~ img:nth-of-type(3),
.banner input[type='radio']:nth-of-type(3):checked ~ img:nth-of-type(2),
.banner input[type='radio']:nth-of-type(3):checked ~ img:nth-of-type(1) {
    transform: translateX(-200%);
    transition: 0.5s ease;
}

#left-slide,
#right-slide {
    display: none;
}

.left-btn,
.right-btn {
    position: absolute;
    top: 50px;
}

.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}

.left-btn::before,
.right-btn::before {
    display: block;
    width: auto;
    height: auto;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.5);
}

.left-btn::before {
    content: '<';
}

.left-btn:hover::before,
.right-btn:hover::before {
    cursor: pointer;
}

.right-btn::before {
    content: '>';
}

footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    .logo a {
        display: block;
        height: 80px;
    }

    nav {
        position: relative;
        top: 0;
        max-height: none;
        flex-direction: row;
        border: none;
        width: auto;
        height: auto;
    }

    nav a {
        width: auto;
        height: auto;
        line-height: 100px;
        padding-right: 30px;
    }

    nav a ~ a {
        margin-top: 0;
    }
}

@media screen and (min-width: 1090px) {
    nav a {
        padding: 0 30px;
    }
}

@media screen and (min-width: 1400px) {
    nav a {
        padding: 0 50px;
        font-size: 20px;
    }
}
