html,
body {
    background-color: white;
}

header #menu-btn {
    display: none;
}

header .header-list {
    position: absolute;
    top: 0;
    left: 160px;
    height: 150px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 760px) {
    header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        background-color: gray;
    }

    header .pic {
        width: 140px;
        height: 150px;
        margin-left: 10px;
        position: relative;
    }

    header .pic img {
        position: relative;
        top: 5px;
        vertical-align: middle;
    }

    header #menu-btn {
        display: none;
    }

    header label {
        position: relative;
        right: 10px;
        display: block;
        width: 50px;
        height: 50px;
    }

    header .menu-line::before {
        position: absolute;
        top: 22.5px;
        left: 0;
        content: '';
        display: block;
        width: 50px;
        height: 5px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 15px 0 0 white, 0 -15px 0 0 white;
    }

    header .header-list {
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        flex-direction: column;
    }

    header .header-list li {
        width: 100%;
        line-height: 50px;
        background-color: greenyellow;
        text-align: center;
    }

    header .header-list li a {
        display: block;
        width: 100%;
    }

    header .header-list li ~ header .header-list li {
    }

    #menu-btn:checked ~ .header-list {
    }
}
