<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="/style/reset.css"
        />
        <link
            rel="stylesheet"
            href="/style/style.css"
        />
        <link
            rel="stylesheet"
            href="/style/aboutMe.css"
        />
        <title>About me</title>
    </head>
    <body>
        <div class="body-wrapper">
            <input
                type="checkbox"
                id="menu-control"
            />

            <header>
                <div class="logo">
                    <a href="/">
                        <img
                            src="/assets/logo.jpg"
                            alt="logo"
                        />
                    </a>
                </div>
                <label
                    for="menu-control"
                    class="menu-btn"
                >
                    <span>選單</span>
                </label>
                <nav>
                    <a href="/views/aboutMe.html">About me</a>
                    <a href="/mustache-gh-pages">My mustache</a>
                    <a href="/mustache-gh-pages/music">My music</a>
                    <a href="#">Container</a>
                    <a href="#">Footer</a>
                    <a href="/views/dateCalculate.html">Date calculate</a>
                </nav>
            </header>

            <div class="banner">
                <div class="aboutme-wrap">
                    <label class="my-name">I'm</label>
                    <label class="my-name">Quinn Wu</label>
                    <label class="my-profession">CSE ( Computer Science Engineer )</label>
                </div>
            </div>

            <div class="container">
                <div class="wrap">
                    <div class="card">
                        <div class="pic">
                            <img
                                src="/assets/card4.jpg"
                                alt=""
                            />
                        </div>
                        <div class="inner-txt">
                            <div class="title">For Vegans</div>
                            <div class="text">Burger + French Fries + Drink</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="pic">
                            <img
                                src="/assets/card5.jpg"
                                alt=""
                            />
                        </div>
                        <div class="inner-txt">
                            <div class="title">Order Online</div>
                            <div class="text">Available Every Day 9 AM - 11 PM</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="pic">
                            <img
                                src="/assets/card6.jpg"
                                alt=""
                            />
                        </div>
                        <div class="inner-txt">
                            <div class="title">Cake Specials</div>
                            <div class="text">Every Fridat Only $0.99</div>
                        </div>
                    </div>
                </div>

                <!-- <div class="wrap"></div> -->
            </div>

            <footer>20250423-1</footer>
        </div>
    </body>
</html>
