<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/dateCalculate.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js" defer></script>
    <script src="/js/dateCalculate.js" defer></script>
    <title>時間計算器</title>
</head>

<body>
    <input type="checkbox" id="menu-control" />

    <header>
        <div class="logo">
            <a href="/">
                <img src="https://picsum.photos/id/1060/200/80" alt="logo" />
            </a>
        </div>
        <label for="menu-control" class="menu-btn">
            <span>選單</span>
        </label>
        <nav>
            <a href="#">About me</a>
            <a href="#">Header</a>
            <a href="#">Banner</a>
            <a href="#">Container</a>
            <a href="#">Footer</a>
            <a href="/views/dateCalculate.html">Date calculate</a>
        </nav>
    </header>

    <div class="container">
        <div class="now-container">
            <div class="wrap">
                <label for="date-input">日期</label>
                <input type="date" id="date-input" />
            </div>
            <div class="wrap">
                <label for="time-input">時間</label>
                <input type="time" id="time-input" />
            </div>
        </div>

        <div class="calc-container">
            <div class="wrap">
                <label for="day-input">天</label>
                <input type="number" id="day-input" />
            </div>
            <div class="wrap">
                <label for="hr-input">時</label>
                <input type="number" id="hr-input" />
            </div>
            <div class="wrap">
                <label for="min-input">分</label>
                <input type="number" id="min-input" />
            </div>
            <div class="wrap">
                <label for="sec-input">秒</label>
                <input type="number" id="sec-input" />
            </div>

            <button class="calc">計算</button>

            <div class="final-wrap">
                <label class="final-date"></label>
            </div>
        </div>
    </div>

    <footer>20240319-4</footer>
</body>

</html>